header {
    background: #829EB9;
    height: 50px;
    font-family: Arial;
    text-align: center;
}

header a {
    color: purple;
    text-decoration: underline;
}

nav {
    background: #B3C6D9;
    height: 600px;
    width: 25%;
    float: left;
}

main {
    background: #E0E9F1;
    height: 600px;
    width: 75%;
    text-align: center;
    float: left;
}

main img {
    width: auto;
    height: 100%;
}

footer {
    background: #829EB9;
    font-family: Arial;
    text-align: right;
    clear: both;
}
