body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

.colors {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
}

.colors div {
    height: 80px;
    font-weight: bold;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.silver {
    border: 2px solid black;
    background: #C0C0C0;
    color: black;
}

.gray {
    border: 2px solid black;
    background: #808080;
    color: white;
}

.maroon {
    border: 2px solid black;
    background: #800000;
    color: white;
}

.green {
    border: 2px solid black;
    background: #008000;
    color: white;
}

.white {
    border: 2px solid black;
    background: #FFFFFF;
    color: black;
}

.black {
    border: 2px solid black;
    background: #000000;
    color: white;
}

.red {
    border: 2px solid black;
    background: #FF0000;
    color: black;
}

.lime {
    border: 2px solid black;
    background: #00FF00;
    color: black;
}

.navy {
    border: 2px solid black;
    background: #000080;
    color: white;
}

.purple {
    border: 2px solid black;
    background: #800080;
    color: white;
}

.olive {
    border: 2px solid black;
    background: #808000;
    color: white;
}

.teal {
    border: 2px solid black;
    background: #008080;
    color: white;
}

.blue {
    border: 2px solid black;
    background: #0000FF;
    color: white;
}

.magenta {
    border: 2px solid black;
    background: #FF00FF;
    color: black;
}

.yellow {
    border: 3px dashed green;
    background: #FFFF00;
    color: black;
}

.cyan {
    border: 2px solid black;
    background: #00FFFF;
    color: black;
}